html{
margin-left: 15%;
margin-right: 15%;
}
h1{
  font-size: 31px;
  margin-bottom: 0;
}
address{
  font-style: normal;
  font-size: 18px;
}
.text_grey{
  color: lightgray;
}
a{
  color: #6ac7da;
  text-decoration:none;
}
.testo{
  font-size: 12px;
}
header {
  background-color: rgb(12, 92, 172);
  background-image: url('../img/pattern.png');
  background-size: 35%;
  height: 100px;
  margin-top:0.1%;
  margin-bottom: auto;
  }
  #pic{
    margin-top: 40px;
    margin-left: 10px;
    width: 200px;

  }
  .rettangolo {
  margin:0.1%;
  padding:0%;
  height: 120px;
  margin-bottom: auto;
  }
  .grey {
    color: grey;
    font-size: 20px;
    margin-bottom: auto;
}      
  .blue{
    color: rgb(33, 139, 231);
    font-size: 16px;
  }
  #data{
    color: grey;
    font-size: 10px;
  }
  .foto{
    width:100%;
  }
  #gallery{
    width: auto;
    height: 300px;
    object-fit: cover;
  }
  .didascalia{
    font-size: 10px;
    margin:0px;
    padding:0px;
  }
  #paragrafo{
    margin-top: 20px;
  }
  .evidenziatore{
    background-color: #FFFF00;
  }
  #punto{
    margin:15px;
    padding-inline-start:0px;
  }
  #tab{
    border-collapse: collapse;
    width: 100%;
  }
  #tab th{
    padding-top: 8px;
    text-align: left;
    background-color: #00b3ff;
    color: white;
  }
   .pari{
    padding: 10px;
    margin:4px;
    text-align: left;
    background-color: white;
    color: black;
  } 
  .dispari{
    padding: 10px;
    margin:4px;
    text-align: left;
    background-color: #6ac7da;
    color: black;
  }
  #diversa{
    background-color: rgb(37, 152, 83);
    padding: 3px;
    text-align: left;
    color: white;
  }
  #riquadro{
  margin:0.1%;
  padding:0%;
  height: 70px;
  margin-bottom: auto;
  }

  .w50{
    width: 50%;
  }
  
/* 

  }*/
